<template>
	<div>
		<div style="float: right;">
		<button type="button" class="btn btn-primary mt-3 btn-animation" data-animation="zoomIn" data-toggle="modal" data-target="#exampleModalLong-1">
                                            Add Paypal
		</button>
		<button type="button" class="btn btn-primary mt-3 btn-animation" @click="testaa">
			Add Server
		</button>
		<br/><br/>
		</div>
		<table class="table">
                                    <thead class="thead-default">
                                    <tr>
                                        <th>#</th>
                                        <th>username</th>
                                        <th>endpoint</th>
										<th>verify</th>
                                        <th>#</th>
                                    </tr>
                                    </thead>
                                    <tbody  >
                                    <tr >
                                        <td scope="row"></td>
                                        <td></td>
										<td></td>
                                        <td>
                                        </td>
                                    </tr>
                                    </tbody>
	</table>
	</div>
</template>
<script>
import {ovh} from '~/plugins/penting.js'
	export default {
        middleware: 'auth',
        data(){
            return {
                data:{}
            }
        },
        mounted () {
            this.data['consumerKey']=this.$route.params.manage
            console.log(this.$route.params.mg)
        },
        methods:{
            testaa(){
                let dataverif={
                    data:this.data,
                    method : 'GET',
                    url:'/auth/currentCredential'
                }
                ovh(dataverif).then(async(res)=>{
                 console.log(res)   
                })
            }
        }
    }
</script>