<template>
	<div>
        <div style="float: right;">
                <button type="button" class="btn btn-primary mt-3 btn-animation" @click="addcloud">
                    Add Cloud
                </button>
                <button type="button" class="btn btn-primary mt-3 btn-animation" @click="addproject" >
                                                    Create Project
                </button>
                <button type="button" class="btn btn-primary mt-3 btn-animation" @click="setpaypal">
                    Add Paypal
                </button>
                <br/><br/>
                </div>
        <transition name="fade">
            <div v-show="!home">
                <br/><br/><br/><br/><br/>
                <div class="form-group row" >
                <label for="example-text-input" class="col-sm-2 col-form-label" >Cloud Name</label>
                <div class="col-sm-10">
                     <input class="form-control"  v-model="cloud.name" type="text" />
                </div>
                </div>
                <div class="form-group row" >
                <label for="example-text-input" class="col-sm-2 col-form-label" >Server</label>
                <div class="col-sm-10">
                    <select class="form-control" @change="getflavor" v-model="cloud.region">
                        <option>SBG5</option>
                        <option>BHS3</option>
                        <option>WAW1</option>
                        <option>GRA5</option>
                        <option>DE1</option>
                        <option>UK1</option>
                    </select>
                </div>
                </div>
                <div class="form-group row" >
                <label for="example-text-input" class="col-sm-2 col-form-label" >Type</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="cloud.flavorId" @change="getimage">
                        <option v-for="ffid in flavoridmode" v-bind:value="ffid.id">{{ffid.name}}</option>
                    </select>
                </div>
                </div>
                <div class="form-group row" >
                <label for="example-text-input" class="col-sm-2 col-form-label" >Image</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="cloud.imageId" @change="getssh">
                        <option v-for="ffid in imagesid" v-bind:value="ffid.id">{{ffid.name}}</option>
                    </select>
                </div>
                </div>
                <div class="form-group row" >
                <label for="example-text-input" class="col-sm-2 col-form-label" >SSh</label>
                <div class="col-sm-10">
                     <input class="form-control"  v-model="cloud.sshKeyId" type="text" disabled />
                </div>
                </div>
                <div class="form-group row" style="float: right;"><div class="col-sm-12"><button type="submit" class="btn btn-primary" @click='createcc'>Create</button></div></div>
            </div>
        </transition>
        <transition name="fade">
            <div v-show="home">
        		<table class="table">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Server Name</th>
                                                <th>Location</th>
        										<th>IP</th>
                                                <th>Status</th>
                                                <th>#</th>
                                            </tr>
                                            </thead>
                                            <tbody  >
                                            <tr  v-for="(data, index)  in activecloud" :key="index">
                                                <td scope="row">{{ index +1}}</td>
                                                <td>{{ data.name }}</td>
        										<td>{{ data.region }}</td>
                                                <td v-for="dataip in data.ipAddresses" v-if="dataip.version==4">{{ dataip.ip }}</td>
                                                <td v-if='data.status=="BUILD"'><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></td>
                                                <td v-else>{{ data.status }}</td>
                                                <td><button type="button" class="btn btn-primary"@click="deletecc(data.id)" >Delete</button></td>
                                            </tr>
                                            </tbody>
        	   </table>
            </div>
        </transition>
	</div>
</template>
<script>
import firebase from '~/plugins/firebase.js'
import {ovh} from '~/plugins/penting.js'
	export default {
        middleware: 'auth',
        data(){
            return {
                data:{},
                home:true,
                flavoridmode:{},
                imagesid:{},
                sshid:'',
                cloud:{
                    name:'',
                    flavorId:'',
                    region:'',
                    imageId:'',
                    sshKeyId:''
                },
                activecloud:[],
                muinterval:null
            }
        },
        async mounted () {
            await this.getdata()
            await this.todo()
        },
        methods:{
            todo () {
                const $this=this
                this.muinterval = setInterval(() => {
                    $this.getcloucc()
                },5000)
            },
            addcloud(){
                this.home = !this.home;
            },
            async refcc(){
                while(this.cloud.status!='ACTIVE' || this.cloud.status!='ERROR'){
                    setTimeout(async()=>{
                    await this.getcloucc()
                  }, 3000);
                }
            },
            async deletecc(id){
                let dataverif={
                        data:this.data,
                        method : 'DELETE',
                        url:'/cloud/project/'+this.data.project+'/instance/'+id
                    }
                    await ovh(dataverif).then(async(res)=>{
                        this.todo()
                    })
            },
            async getcloucc(){
                let dataverif={
                        data:this.data,
                        method : 'GET',
                        url:'/cloud/project/'+this.data.project+'/instance'
                    }
                    await ovh(dataverif).then(async(res)=>{
                        this.activecloud=res
                        const datas = res.filter(function (w) {
                            return w.status == 'BUILD' || w.status == 'DELETING' || w.status == ''
                        })

                        if (datas.length === 0) {
                            clearInterval(this.muinterval)
                        }
                    })
                    .catch(error => {
                        clearInterval(this.muinterval)
                    })
            },
            async createcc(){
                let dataverif={
                    data:this.data,
                    body:this.cloud,
                    method : 'POST',
                    url:'/cloud/project/'+this.data.project+'/instance'
                }
                ovh(dataverif).then(async(res)=>{
                    this.addcloud()
                })
            },

            async getflavor(){
                let dataverif={
                        data:this.data,
                        method : 'GET',
                        url:'/cloud/project/'+this.data.project+'/flavor?region='+this.cloud.region
                    }
                    await ovh(dataverif).then(async(res)=>{
                        this.flavoridmode=res
                    })
            },
            async getimage(){
                let dataverif={
                        data:this.data,
                        method : 'GET',
                        url:'/cloud/project/'+this.data.project+'/image?region='+this.cloud.region+'&flavorType='+this.cloud.flavorId
                    }
                    await ovh(dataverif).then(async(res)=>{
                        this.imagesid=res
                    })
            },
            async getssh(){
                let dataverif={
                        data:this.data,
                        method : 'GET',
                        url:'/cloud/project/'+this.data.project+'/sshkey'
                    }
                    await ovh(dataverif).then(async(res)=>{
                        this.cloud.sshKeyId=res[0].id
                    })
            },
            async getdata(){
                await firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').doc(this.$route.params.manage).get()
                    .then((result)=>{
                        this.data = result.data()
                        console.log(this.data.project)
                    })
                    
            },
            async setssh(){
                const bodys={
                    "name": "bebas",
                    "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEApxC/Ee879QAyZapBByhpKlA1Nj0KmJHRpnuQc2G3SABwbOejw3AqBz5CobC3QB8+96WfjCwrbkPReqMwRMjMxH6jQIexVpG/ETNPZp39RAtx76SnnG0sjKpCwzQzFYEYz/k4aobZi1LFLQhS7LbhpK2Gv9l2WVy91L3IK2NWyxE/nV+iL/p/4Lh0gu9hMTJsixXm4H6014j7tWMnzDTo5T9ZjAK09oAPzqdSqXfiF457HLQFbwnPiDhH8MBV01yuVoXLiMKYRiY69eRIUDTBbZukbc3d/8pILz0sn+aIWljWwoDsGtqkgEagzUhvWtAI5HgbwrT8U998a2eRYTZBbQ== ubuntu"
                }
                let dataverif={
                    data:this.data,
                    body:bodys,
                    method : 'POST',
                    url:'/cloud/project/'+this.data.project+'/sshkey'
                }
                ovh(dataverif).then(async(res)=>{
                    console.log(res)
                })
            },
            async setpaypal(){
                const bodys={
                              "description": "Payment",
                              "returnUrl": "http://localhost:3000",
                              "setDefault": true
                            }
                let dataverif={
                    data:this.data,
                    body:bodys,
                    method : 'POST',
                    url:'/me/paymentMean/paypal'
                }
                ovh(dataverif).then(async(res)=>{
                    window.open(res.url,'_blank')
                })
            },
            async addproject(){
                const bodys={
                  "description": "Project 1",
                  "voucher": "CLOUD-WE"
                }
                let dataverif={
                    data:this.data,
                    body:bodys,
                    method : 'POST',
                    url:'/cloud/createProject'
                }
                ovh(dataverif).then(async(res)=>{
                    console.log(res.agreements)
                    let agree= res.agreements
                    if(res.status=='waitingAgreementsValidation')
                    {
                        for (var i = 0; i < agree.length; i++) {
                            await this.agremment(agree[i])
                        }
                        await ovh(dataverif).then(async(res)=>{
                            if(res.status=='oke')
                            {
                                await firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').doc(this.$route.params.manage).update({
                                                project: res.project
                                            })
                                await this.getdata()
                                await this.setssh()
                            }
                        })
                    }
                })
            },
            async agremment(data){
                    let dataverif={
                        data:this.data,
                        method : 'POST',
                        url:'/me/agreements/'+data+'/accept'
                    }
                    await ovh(dataverif).then(async(res)=>{
                        console.log(res)
                    })
            }
        }
    }
</script>