<template>
	<div>
	<transition name="fade">
	<div v-show="home">
		<div style="float: right;">
		<button type="button" class="btn btn-primary mt-3 btn-animation" data-animation="zoomIn" data-toggle="modal" data-target="#exampleModalLong-1">
                                            Add Account
		</button>
		<button type="button" class="btn btn-primary mt-3 btn-animation" @click="registers('reg')">
			Register Account
		</button>
		<br/><br/>
		</div>
	
	<table class="table">
                                    <thead class="thead-default">
                                    <tr>
                                        <th>#</th>
                                        <th>username</th>
                                        <th>endpoint</th>
										<th>verify</th>
                                        <th>#</th>
                                    </tr>
                                    </thead>
                                    <tbody  >
                                    <tr v-for="(data, index)  in users" :key="index">
                                        <td scope="row">{{ index +1 }}</td>
                                        <td>{{ data.data().users }}</td>
                                        <td v-if="data.data().endpoint=='ovh-ca'">Canada
                                        </td>
                                        <td v-else="">Europe
                                        </td>
										<td>{{ data.data().verify }}</td>
                                        <td>
                                        	<div class="btn-group m-b-10">
		                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
		                                        <div class="dropdown-menu">
		                                            <a class="dropdown-item" @click="manage(data.id)">manage</a>
													<a class="dropdown-item" v-show="!data.data().verify" href="#" @click="verifydata(data)">Verify</a>
		                                            <a class="dropdown-item" @click="deletes(data.id)" href="#">Delete</a>
		                                        </div>
		                                    </div><!-- /btn-group -->
                                        </td>
                                    </tr>
                                    </tbody>
	</table>
	</div>
	</transition>
	<transition name="fade">
	<div v-show="!home">

		<div style="float: right;">
		<button type="button" class="btn btn-primary mt-3 btn-animation" @click="registers('back')">
			Back
		</button>
		</div>
		<br/><br/><br/>
		<h3 style="text-align: center;">Add New Account</h3>
		<div class="form-group row" >
			    <label for="example-text-input" class="col-sm-2 col-form-label" >Select End Point</label>
			    <div class="col-sm-10">
			    	
			    	<select class="form-control" v-model="endpoints" @change="getsub">
			    		<option value="ca" >Canada</option>
			    		<option value="eu">Europe</option>
			    	</select>
			    </div>
		</div>
		<form id="regform">
		<div v-for="(item,index) in regdata" :key="index" >
			
			<div class="form-group row" v-if=" item.fieldName =='birthDay' || item.mandatory && item.fieldName !='ovhCompany'">
			    <label for="example-text-input" class="col-sm-2 col-form-label" >{{ item.fieldName }}</label>
			    <div class="col-sm-10">
			    	
			    	<select @change="getsub" v-bind:name="item.fieldName"  v-validate="{ required: true }" v-if=" item.fieldName =='ovhSubsidiary' || item.fieldName =='legalform'" class="form-control" v-model="accdata[item.fieldName]"  >
			    		<option v-for="(indata,index) in item.in" :key="index" >{{ indata }}</option>
			    	</select>
			    	<select @change="getsub"  v-bind:name="item.fieldName"  v-validate="{ required: true }"  v-else-if="item.fieldName == 'country'" class="form-control" v-model="accdata[item.fieldName]" >
			    		<option v-for="(indata,index) in item.in" :key="index" v-bind:value="indata">{{ isoCountries[indata] }}</option>
			    	</select>
			    	<select @change="getsub"  v-bind:name="item.fieldName"  v-validate="{ required: true }"  v-else-if="item.fieldName == 'language'" class="form-control" v-model="accdata[item.fieldName]" >
			    		<option  v-for="(indata,index) in item.in" :key="index" v-bind:value="indata">{{ locales[indata] }}</option>
			    	</select>
			    	<div v-else>
			    		
			        <input v-if="item.regularExpression!=null" class="form-control" v-model="accdata[item.fieldName]"  v-validate="{ required: true, regex: item.regularExpression}" v-bind:name="item.fieldName"  type="text" v-bind:placeholder="item.fieldName" />
			        <input v-validate="{ required: true}"  v-else-if="item.fieldName =='birthDay'" class="form-control" v-model="accdata[item.fieldName]" v-bind:name="item.fieldName" v-bind:placeholder="item.fieldName" type="date"  />
			        <input v-validate="{ required: true}"  v-else class="form-control" v-model="accdata[item.fieldName]" v-bind:name="item.fieldName"  type="text" v-bind:placeholder="item.fieldName" />
			    	</div>
			        <ul>
					  <li v-for="(error,index) in errors.collect(item.fieldName)" :key="index">{{ error }}</li>
					</ul>
			    </div>
			</div>
		</div>
		
		<div class="form-group row" style="float: right;" >
			    <div class="col-sm-12">
			    	
			    	<button type="submit" @click="saveform" class="btn btn-primary">Save changes</button>
			    </div>
		</div>
		</form>
	</div>
	</transition>
	<div class="modal fade" id="exampleModalLong-1" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle-1">Card Image</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group row">
				                                    <div class="col-sm-12">
				                                        <input v-model="user" class="form-control" type="text" placeholder="Username/Email">
				                                    </div>
			                                	</div>
			                                	<div class="form-group row">
				                                    <div class="col-sm-12">
				                                        <input v-model="pass" class="form-control" type="password" placeholder="Password">
				                                    </div>
			                                	</div>
			                                	<div class="form-group row">
				                                	<div class="col-sm-12">
				                                        <select v-model="endpoint" class="form-control">
				                                            <option value="" hidden="true">Select End-Point</option>
				                                            <option value="ovh-ca">Canada</option>
				                                            <option value="ovh-eu">Europe</option>
				                                        </select>
				                                    </div>
			                                	</div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button @click="addaccount" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
	</div>
	</div>
</template>
<style>
	.fade-enter-active, .fade-leave-active {
	    transition: all 1s ease-in-out;
	}
	.fade-enter, .fade-leave-to,.fade-leave-active /* .fade-leave-active below version 2.1.8 */ {
	    transform: translate(200px);
	}
</style>

<script>
import firebase from '~/plugins/firebase.js'
import axios from 'axios'
import {ovh} from '~/plugins/penting.js'
import Swal from 'sweetalert2'
import countrys from '~/plugins/countrys.json'
const locales = require('~/plugins/locale.js')


    export default {
        middleware: 'auth',
        data(){
        	return{
        		home	: true,
        		users	:[],
        		user 	:null,
        		pass 	:null,
        		endpoint:"",
        		regdata :{},
        		endpoints:"",
        		accdata	: {
        			action: "create",
        			ovhCompany: "ovh"
        		},
        		isoCountries : countrys,
				locales: locale
        		
        	}
        },

        mounted(){
			 this.getdata()
        },
        methods:{
        	alertme(data,type){
        		Swal({
					  position: 'center',
					  type: type,
					  title: data,
					  showConfirmButton: false,
					  timer: 2000
					})
        	},
        	addaccount () {

        		for (var i = 0; i < this.users.length; i++) {
        			if(this.users[i].data().users.trim()===this.user.trim())
        			{
        				this.alertme("Email/Username allready add","warning")
        				return
					}
					console.log(this.users[i].data().users)
        		}
        		if(this.endpoint=="")
        		{
        			this.alertme("Please select End-Point!!","warning")
					return
        		}
        		firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').add({
        				users: this.user,
	        			pass: this.pass,
						endpoint: this.endpoint,
						verify: false,
						consumerKey:'',
						project:''
        			}).
        		then(data => {
        			this.alertme("Success Add Account","success")
        			this.getdata()
        		})
        	},
        	registers(mode){
        		if(mode=='reg')
        		{
        			this.home=false
        		}	
        		else
        		{
        			this.home=true
        		}
        	},
        	async getdata(){
        		firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').get()
		            .then((result)=>{
		            	this.users = result.docs
            	
            })
        	},
        	deletes(id){
        		firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').doc(id).delete().
        		then(data => {
        			this.getdata()

        		})
        	},
        	async getsub() {
        		this.accdata['phoneCountry']=this.accdata.country
		    	await this.$axios.$post('https://'+this.endpoints+'.ovh.com/engine/apiv6/newAccount/rules',this.accdata
					)
		    	.then((data)=>{
		    		this.regdata= data
		    	})
		    	
		  	},
		  	async saveform(e){
		  		e.preventDefault();
		  		this.$validator.validate().then(result => {
			        if (!result || this.endpoints == "") {
			          console.log(this.locales)
			        }
			        else
			        {

			  		window.open("https://"+this.endpoints+".ovh.com/auth/signup/register?password=Asuasu@@123&"+jQuery.param(this.accdata), "window", "height=100, width=600, status=yes, toolbar=no, menubar=no, location=no, addressbar=no, top=200, left=300"); 

			        }
			      });
			},
        	async verifydata(datas){
				const data = datas.data();
				const body ={"accessRules": [
					{
					"method": "POST",
					"path": "/*"
					},
					{
					"method": "GET",
					"path": "/*"
					},
					{
					"method": "PUT",
					"path": "/*"
					},
					{
					"method": "DELETE",
					"path": "/*"
					},
					

				]}
				const send={
					data,
					method : 'POST',
					body:body,
					url:'/auth/credential'
				}
				let dataverif={
					data,
					method : 'GET',
					url:'/auth/currentCredential'
				}
				console.log(data)
				let url=""
        		await ovh(send).then(async(res)=>{
					await firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').doc(datas.id).update({
						consumerKey: res.consumerKey
        			})
        			dataverif.data['consumerKey']=res.consumerKey
        			url=res.validationUrl
				})
				await this.getdata()
				this.letverif(data,url,dataverif,datas)
			},
			async letverif(data,url,dataverif,datas){
				await axios.get('http://everynight.blog:8080/'+data.users+'/'+data.pass+'/'+encodeURIComponent(url))
		        			.then(async()=>{
		        						ovh(dataverif).then(async(resp)=>{
				        				if(resp.status)
				        				{
				        					await firebase.firestore().collection('users').doc(firebase.auth().currentUser.uid).collection('data').doc(datas.id).update({
												verify: true
						        			})
				        				}
				        				await this.getdata()

				        			})
		        })
			},
			manage(data){
				this.$router.push('/manage/'+ data)
			}
        }
    }
</script>