<template>
    <div class="card">
                <div class="card-body">

                    <h3 class="text-center mt-0 m-b-15">
                        <a href="index.html" class="logo logo-admin"><img src="assets/images/logo.png" height="24" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <form class="form-horizontal m-t-20" action="index.html">

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="email" v-model="email" required="" placeholder="Username">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="password" v-model="password" required="" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-danger btn-block waves-effect waves-light" @click="login" type="submit">Log In</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-sm-7 m-t-20">
                                    <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> <small>Forgot your password ?</small></a>
                                </div>
                                <div class="col-sm-5 m-t-20">
                                    <a href="pages-register.html" class="text-muted"><i class="mdi mdi-account-circle"></i> <small>Create an account ?</small></a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
</template>
<script>
import firebase from '~/plugins/firebase.js'
import firebases from 'firebase/app'
    export default {
        middleware: 'auth',
        layout: 'login',
        data(){
            return{
            email:'',
            password:'',
            user:[]       
            }
        },
        async fetch ({ store, params }) {
            const data = await store.dispatch('user');
            console.log(data);
            
        },
        methods:{
            login: function (e) {
                e.preventDefault();
                firebase.auth().setPersistence(firebases.auth.Auth.Persistence.SESSION)
                    .then(()=> {
                        firebase.auth().signInWithEmailAndPassword(this.email,this.password)
                })
                .catch(function(error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                });
            },
            getuser:function(){
                console.log(this.user)
            }
        },
        
    }
</script>